* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

#screen-orientation {
	place-items: center;
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: gray;
	font-weight: bold;
	opacity: 0.9;
	font-size: 50px;
	text-align: center;
}

#screen-orientation.visible {
	display: grid;
}
#fullscreen {
	font-size: 50px;
	border-radius: 1em;
	border: 1px solid black;
	background: white;
	color: black;
	padding: 0.5em 1em;
}
